---
import Content from '../components/content.astro';
import Html from '../components/html.astro';

const urls: string[] = [
	'/images/heroes/gmod.webp',
	'/images/heroes/srb2k.webp',
];
const urlCount = urls.length;
---
<Html title="Gallery">
	<div id="gallery">
		<div id="gallery-overlay">
			<div id="gallery-overlay-arrows">
				<div class="gallery-overlay-arrow" id="gallery-overlay-arrow-left"><span>◀</span></div>
				<div class="gallery-overlay-arrow" id="gallery-overlay-arrow-right"><span>▶</span></div>
			</div>
			<!--
			TODO: Add gallery overlay grid
			<div id="gallery-overlay-grid">{ urls.map((url) => (
				<div><img src={url}/></div>
			)) }</div></div>
			-->
		</div>
		<div id="gallery-images" data-count={urlCount}>{ urls.map((url) => (
			<div><a href={url} target="_blank"><img src={url}/></a></div>
		)) }</div>
	</div>
	<script>
		/**
		 * Change the currently displayed image when the user presses the left or right arrow key or clicks an arrow button.
		 */
		const galleryImages = document.getElementById('gallery-images');
		const imageCount = Number.parseInt(galleryImages!.getAttribute('data-count')!);
		document.addEventListener('keydown', (event) => {
			const imageWidth = galleryImages!.offsetWidth / imageCount;
			let left = Number.parseInt(galleryImages!.style.left.replace('px', ''));
			if (Number.isNaN(left)) {
				left = 0;
			}
			if (event.key === 'ArrowLeft') {
				left += imageWidth;
			} else if (event.key === 'ArrowRight') {
				left -= imageWidth;
			}
			if (left > 0) {
				left = 0;
			} else if (left < -imageWidth * (imageCount - 1)) {
				left = -imageWidth * (imageCount - 1);
			}
			galleryImages!.style.left = `${left}px`;
		});
		const arrowLeft = document.getElementById('gallery-overlay-arrow-left');
		arrowLeft!.addEventListener('click', () => {
			document.dispatchEvent(new KeyboardEvent('keydown', { key: 'ArrowLeft' }));
		});
		const arrowRight = document.getElementById('gallery-overlay-arrow-right');
		arrowRight!.addEventListener('click', () => {
			document.dispatchEvent(new KeyboardEvent('keydown', { key: 'ArrowRight' }));
		})
	</script>
	<style define:vars={{ urlCount }}>
		div#gallery {
			background-color: black;
			height: 512px;
			overflow-x: hidden;
			/* All child elements are positioned relative to this */
			position: relative;
		}
		div#gallery > div {
			left: 0px;
			/* Position relative to parent */
			position: absolute;
			top: 0px;
		}
		div#gallery-overlay {
			color: var(--colour-column);
			height: 100%;
			/* Disable empty areas capturing mouse input */
			pointer-events: none;
			width: 100%;
			/* Put on top of images */
			z-index: 1;
		}
		div#gallery-overlay-arrows {
			display: flex;
			height: 100%;
			/* Push arrows to left and right sides of container */
			justify-content: space-between;
			/* Prevent user from selecting text */
			user-select: none;
			width: 100%;
		}
		div.gallery-overlay-arrow {
			background-color: #222;
			/* Pretend arrows are buttons */
			cursor: pointer;
			display: flex;
			height: 100%;
			/* Re-enable mouse input */
			pointer-events: auto;
			width: 40px;
		}
		div.gallery-overlay-arrow > span {
			font-size: 1.5em;
			/* Centre arrow symbol */
			margin: auto;
		}
		div#gallery-images {
			/* Vertically centre images */
			align-items: center;
			display: flex;
			/* Left offset is dynamically changed by JavaScript */
			left: 0px;
			height: 100%;
			transition: left 0.35s ease-out;
			/* Full width for each image */
			width: calc(var(--urlCount) * 100%);
		}
		div#gallery-images > div {
			display: flex;
			/* Occupy equal space of parent */
			flex: 1;
			/* Horizontally centre images */
			justify-content: center;
		}
		div#gallery-images img {
			max-height: 512px;
		}
	</style>
</Html>
