---
import Author from './author.astro';
import Content from './content.astro';
import Html from './html.astro';

const { frontmatter } = Astro.props;
---
<Html title={frontmatter.title}>
	{ frontmatter.hero !== undefined && (
		<a href={frontmatter.hero} target="_blank"><div id="hero">
			<img src={frontmatter.hero}/>
		</div></a>
		<script>
			/**
			 * Animate hero image on mouse hover. Allows user to zoom into whatever they are hovering over.
			 */
			const hero = document.getElementById('hero');
			const heroImg = hero.querySelector('img');
			document.addEventListener('mousemove', (event) => {
				const mouseX = event.clientX;
				const mouseY = event.clientY;
				const heroRect = hero.getBoundingClientRect();
				const x = Math.max(0, Math.min(mouseX - heroRect.left, heroRect.width));
  			const y = Math.max(0, Math.min(mouseY - heroRect.top, heroRect.height));
				heroImg.style["transform-origin"] = `${x}px ${y}px`;
			});
		</script>
	) }
	<Content>
		<h1>{frontmatter.title}</h1>
		{ frontmatter.link !== undefined && (
			<p><a href={frontmatter.link.url}>{frontmatter.link.text || frontmatter.link.url}</a></p>
		) }
		{ frontmatter.cutout !== undefined && (
			<img
				src={frontmatter.cutout}
				style="float: right; max-width: 192px;"
			/>
		) }
		<slot/>
		{ frontmatter.author !== undefined && (
				<Author name={frontmatter.author} coauthors={frontmatter.coauthors}/>
		) }
	</Content>
</Html>
