---
import Author from './author.astro';
import Html from './html.astro';

const { frontmatter } = Astro.props;
---
<Html title={frontmatter.title}>
	{ frontmatter.hero !== undefined && (
		<img src={frontmatter.hero} alt={frontmatter.title}/>
	) }
	<h1>{frontmatter.title}</h1>
	{ frontmatter.link !== undefined && (
		<p><a href={frontmatter.link.url}>{frontmatter.link.text || frontmatter.link.url}</a></p>
	)}
	{ frontmatter.cutout !== undefined && (
		<img
			src={frontmatter.cutout}
			style="float: right; max-width: 192px;"
		/>
	) }
	<slot/>
	{
		frontmatter.author !== undefined && (
			<Author name={frontmatter.author} coauthors={frontmatter.coauthors}/>
		)
	}
</Html>
